In [1]:
import pandas as pd
from nsepy import get_history as gh
import datetime as dt

In [2]:
import yfinance as yf

import datetime as dt

start= dt.datetime(2021,7,1)
end= dt.datetime(2022,1,27)
symbol= 'AXISBANK.NS' # Stock symbol in uppercase

stk_data = yf.download(symbol, start=start, end=end)

[*********************100%%**********************]  1 of 1 completed

In [3]:
stk_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-07-01,750.000000,754.400024,744.500000,746.450012,744.555725,5695690
2021-07-02,747.599976,752.849976,744.000000,750.650024,748.745117,3557647
2021-07-05,757.099976,762.000000,753.400024,760.349976,758.420410,4680089
2021-07-06,757.000000,767.000000,755.200012,758.349976,756.425476,5529485
2021-07-07,755.900024,764.000000,752.250000,762.900024,760.963989,3573368
...,...,...,...,...,...,...
2022-01-19,725.200012,731.950012,718.700012,729.599976,727.748474,7746270
2022-01-20,731.049988,737.150024,722.150024,728.900024,727.050232,8505400
2022-01-21,722.000000,725.250000,708.049988,712.500000,710.691895,10689060
2022-01-24,715.000000,716.400024,688.200012,704.599976,702.811890,8812501
2022-01-25,714.000000,755.000000,708.599976,752.200012,750.291138,38088158

In [4]:
stk_data=stk_data[["Open","High","Low","Close"]]
stk_data

                  Open        High         Low       Close
Date
2021-07-01  750.000000  754.400024  744.500000  746.450012
2021-07-02  747.599976  752.849976  744.000000  750.650024
2021-07-05  757.099976  762.000000  753.400024  760.349976
2021-07-06  757.000000  767.000000  755.200012  758.349976
2021-07-07  755.900024  764.000000  752.250000  762.900024
...                ...         ...         ...         ...
2022-01-19  725.200012  731.950012  718.700012  729.599976
2022-01-20  731.049988  737.150024  722.150024  728.900024
2022-01-21  722.000000  725.250000  708.049988  712.500000
2022-01-24  715.000000  716.400024  688.200012  704.599976
2022-01-25  714.000000  755.000000  708.599976  752.200012

[143 rows x 4 columns]

In [5]:
column="Close"

In [14]:
from sklearn.preprocessing import MinMaxScaler
Ms = MinMaxScaler()
data1= Ms.fit_transform(stk_data)
print("Len:",data1.shape)

Len: (143, 4)

In [15]:
data1=pd.DataFrame(data1,columns=["Open","High","Low","Close"])

In [16]:
training_size = round(len(data1 ) * 0.80)
print(training_size)
X_train=data1[:training_size]
X_test=data1[training_size:]
print("X_train length:",X_train.shape)
print("X_test length:",X_test.shape)
y_train=data1[:training_size]
y_test=data1[training_size:]
print("y_train length:",y_train.shape)
print("y_test length:",y_test.shape)

114
X_train length: (114, 4)
X_test length: (29, 4)
y_train length: (114, 4)
y_test length: (29, 4)

In [17]:
import warnings
warnings.filterwarnings("ignore")

In [18]:
performance={"Model":[],"RMSE":[],"MaPe":[],"Lag":[],"Test":[]}

In [19]:
def cominbation(dataset,listt):
    print(listt)
    datasetTwo=dataset[listt]
    test_obs = 28
    train =datasetTwo[:-test_obs]
    test = datasetTwo[-test_obs:]
    from statsmodels.tsa.api import VAR
    for i in [1,2,3,4,5,6,7,8,9,10]:
        model = VAR(train)
        results = model.fit(i)
        print('Order =', i)
        print('AIC: ', results.aic)
        print('BIC: ', results.bic)
        print()
    x = model.select_order(maxlags=12)
    order=x.selected_orders["aic"]
    result = model.fit(order)
    #result.summary()
    lagged_Values = train.values[-order:]
    pred = result.forecast(y=lagged_Values,steps=28) 
    preds=pd.DataFrame(pred,columns=listt)
    preds.to_csv("varforecasted_{}.csv".format(test_obs))
    from sklearn.metrics import mean_squared_error
    rmse= round(mean_squared_error(test,pred,squared=False))
    from sklearn.metrics import mean_absolute_percentage_error
    mape=mean_absolute_percentage_error(test,pred)
    performance["Model"].append(listt)
    performance["RMSE"].append(rmse)
    performance["MaPe"].append(mape)
    performance["Lag"].append(order)
    performance["Test"].append(test_obs)
    perf=pd.DataFrame(performance)
    return perf,result,pred

In [20]:
listt=["Close","High","Open","Low"]
#listt=["AQI_calculated","PM10","PM2.5","NOx","NO2","NO","NH3","SO2","CO",'year']

In [21]:
perf,result,pred=cominbation(data1,listt)

['Close', 'High', 'Open', 'Low']
Order = 1
AIC:  -28.07729387912183
BIC:  -27.597259063614022

Order = 2
AIC:  -28.205346860941308
BIC:  -27.33644454701525

Order = 3
AIC:  -28.039955787578787
BIC:  -26.777795597334634

Order = 4
AIC:  -27.852866761525952
BIC:  -26.192974385947224

Order = 5
AIC:  -27.68329024923676
BIC:  -25.621105242631643

Order = 6
AIC:  -27.57103431914594
BIC:  -25.101907821688012

Order = 7
AIC:  -27.472116161730508
BIC:  -24.591308547411902

Order = 8
AIC:  -27.59382536022557
BIC:  -24.296503807431442

Order = 9
AIC:  -27.458850227430595
BIC:  -23.740086209236388

Order = 10
AIC:  -27.329595305452056
BIC:  -23.184361996634593

In [22]:
data1

         Open      High       Low     Close
0    0.508982  0.441549  0.543815  0.491495
1    0.497006  0.433854  0.540997  0.513145
2    0.544411  0.479275  0.593970  0.563144
3    0.543912  0.504095  0.604114  0.552835
4    0.538423  0.489203  0.587489  0.576289
..        ...       ...       ...       ...
138  0.385230  0.330107  0.398422  0.404639
139  0.414421  0.355920  0.417864  0.401031
140  0.369261  0.296848  0.338405  0.316495
141  0.334331  0.252916  0.226543  0.275773
142  0.329341  0.444527  0.341504  0.521134

[143 rows x 4 columns]

In [23]:
perf

                      Model  RMSE      MaPe  Lag  Test
0  [Close, High, Open, Low]     0  1.172438    2    28